
<div class="main about"> 
  <div class="about"> 
    <div class="container">
      <div class="col-md-6" align="right">
        <img src="https://41.media.tumblr.com/d62bd5b750298f0812ae4837c36f4f78/tumblr_nqoqu6xx2I1tqrkono1_500.jpg"> 
      </div>
      <div class="col-md-6">
        <h1 align="center">I'm Marina!</h1>
        
        <div class="supporting-about">
        <p>I'm a beginner web developer in NYC. Over the last three months, I have worked through the projects in this portfolio with <a href="http://www.codecademy.com/">codecademy</a> labs. I'm eager to acquire more skills in programming and web development and take on new, challenging proejcts.</p>
        <div>
          
        <p align="center" >Find out more about my work experience and interests here:
        <a href="https://www.linkedin.com/in/rozovamarina">linkedin</a>
        </p>
        
        <p align="center">Check out my code for the projects in this portfolio here: 
        <a href="https://github.com/marinar578">github</a></p>
        
      </div>
        
    </div> 
  </div> 
</div>
