<div class="contact">
    
    <h1 align="center">Let's work together!</h1>
    
    <div class="contact-p">
        <p>Contact me at:</p>
        <p>email: marinar578@gmail.com</p>
        <p><a href="https://www.linkedin.com/in/rozovamarina">linkedin</a></p>
    </div>
    
    <div class="view-projects">
        <p>View my projects at:</p>
        <p><a href="https://github.com/marinar578">github</a></p>
    </div>
    
</div>