<div class="contact">
    <div class="contact-container" align="center">
    
        <h1 align="center">Let's work together!</h1>
        
        <div class="contact-p">
            <p class="contact-mini-header">Contact me at:</p>
            <p><a href="mailto:marinar578@gmail.com">marinar578@gmail.com</a></p>
            <p><a href="https://www.linkedin.com/in/rozovamarina" target="_blank">https://www.linkedin.com/in/rozovamarina</a></p>
        </div>
        
        <div class="view-projects">
            <p class="contact-mini-header">View my projects at:</p>
            <p><a href="https://github.com/marinar578" target="_blank">https://github.com/marinar578</a></p>
        </div>
    
    </div>
    
</div>