<div class="main main-portfolio"> 
  <!-- <div class="container"> -->
    <div class="jumbotron portfolio-jumbotron">
      <h1>View my General Assembly and Codecademy Labs projects below!</h1>
      <div class="row">
      <div class="col-md-6 course-desc">
      <h2>General Assembly projects:</h2>
        <p>I completed BlackJack, wecreate, and Era in my General Assembly Web Development Immersive course. These are full applications that integrate HTML5, CSS, JavaScript, Ruby, Rails or Sinatra, among other technologies.</p>
      </div>
       <div class="col-md-6 course-desc">
       <h2>Codecademy Lab projects:</h2>
        <p>The final four projects are from my Codecademy Labs course, where we learned how to layout pages in HTML5 and CSS. Some of these also implement JavaScript and Rails.</p>
      </div>
    </div>
    </div>
<!--     <p class="course-desc">I completed BlackJack, wecreate, and Era in my General Assembly Web Development Immersive course. These are full applications that integrate HTML5, CSS, JavaScript, Ruby, Rails or Sinatra, among other technologies.</p> 
    <p class="course-desc">The final four projects are from my Codecademy Labs course, where we learned how to layout pages in HTML5 and CSS. Some of these also implement JavaScript and Rails.</p>  -->
  <!-- </div> -->
  
  <div class="supporting">
     <div class="row">
      <div class="col-md-6 ga-project first">
        <a href="https://marinar578.github.io/" target="_blank"><img src="/assets/ga_blackjack_screenshot.png"></a>
        <p> BlackJack game built with HTML5, CSS, and JavaScript</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 ga-project second">
        <a href="https://ga-project2.herokuapp.com" target="_blank"><img src="/assets/ga_wecreate_screenshot.png"></a>
        <p>Wiki-type application where users can view, add, and edit creative works. Built with HTML, CSS, JavaScript, Sinatra, and PostgreSQL.</p>
      </div>
       <div class="col-md-6 ga-project second">
        <a href="https://yournewbooks.herokuapp.com" target="_blank"><img src="/assets/ga_era_screenshot.png"></a>
        <p>Book recommendations app built with HTML5, CSS, Material Design, JavaScript, and Rails. It calls the Google Books and Google Places APIs.</p>
      </div>
    </div>

  </div>


  <div class="supporting">
    <div class="row codecad">
      <div class="col-md-6">
        <a href="https://young-tor-6274.herokuapp.com/" target="_blank"><img src="https://36.media.tumblr.com/9dab05c01743a5d960f5c857a96f5bc3/tumblr_nqghz9YmMx1tqrkono1_1280.png"></a>

      </div>
       <div class="col-md-6">
        <a href="https://pure-tundra-5035.herokuapp.com" target="_blank"><img src="https://41.media.tumblr.com/82345b653b7133db0122813c95a8efed/tumblr_nqghyv5TGk1tqrkono1_1280.png"></a>

      </div>
    </div>
    
     <div class="row codecad">
        <div class="col-md-6">
            <a href="https://secret-peak-8161.herokuapp.com/" target="_blank"><img src="https://40.media.tumblr.com/97661035a17a6de379e4541e20f3f024/tumblr_nqmar3ZseP1tqrkono1_1280.png"></a>

        </div>
       <div class="col-md-6">
        <a href="https://boiling-shelf-5485.herokuapp.com" target="_blank"><img src="https://40.media.tumblr.com/099fd22bd1a072584a0d185253910385/tumblr_nqghxylQpu1tqrkono1_1280.png"></a>
      </div>

  </div>

</div>