

<div class="main home"> 
  <div class="jumbotron welcome-jumbotron"> 
    <div class="container"> 
      <p align="center"><%= link_to 'View my work', "/portfolio", :class=>"btn" %></p>
    </div> 
  </div> 
</div>

