// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

head {
font-family: 'Roboto', sans-serif;
}

body{
  background-color: #F9FCFF;
}

.header {
  background-color: #F9FCFF;
  margin: 0;
  padding: 20px 0;
  color: white;
  height: 100px;
}

.header .name{
    font: 400 15px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;

}

.header li{
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline;
  padding: 15px;
}



.jumbotron{
  height: 550px;
  background-image: url(https://41.media.tumblr.com/0cdd441a5228e65c96d30fa016427913/tumblr_nqouoobw8W1tqrkono4_1280.jpg);
  background-size: cover;
  background-attachment: fixed;
}


.btn{
	font: 400 20px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  padding: 50px;
}

.about{
  border-top-style: solid;
  border-width: 1px;
  border-color: black;
}


.about h1{
  font: 400 40px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
}

.about p{
  padding: 9px;
}


.supporting-about{
  margin-top:15px;
}

.contact{
  background-image: url(https://40.media.tumblr.com/c0864a9fc47915c685e86df172c37b55/tumblr_nqkxr865Or1tqrkono1_1280.png);
  height: 500px;
}
.contact-container{
  margin-top:25px;
}

.contact h1{
  font: 400 40px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  padding-top: 20px;
}

.contact-p{
  padding: 35px 20px 20px 20px;
}

.contact-mini-header{
  font: 400 20px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
}

.view-projects{
  padding: 20px;
}

.footer li{
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline;
  padding: 15px;

}