.banner { height: 300px; position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

.supporting{
  margin: 20px 0px 20px 100px;
  text-align: center;
}

.supporting img{
  height: 200px;
  padding: 15px 0px;
}