.banner { height: 300px; position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }


.portfolio-jumbotron{
  height: 350px;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
} 


.portfolio-jumbotron h1{
  text-align: center;
  margin-top: 5%;
  color: white;
  font-size: 20pt;
  text-shadow: 2px 2px 4px #000000;
}

.supporting{
  margin: 20px 0px 20px 100px;
  text-align: center;
}

.supporting img{
  padding: 15px 0px;
}

.course-desc{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
}

.course-desc h2,
.course-desc p{
  margin-left: 10%;
}

.course-desc h2{
  font-size: 15pt;
}

.course-desc p{
  font-size: 12pt;
  width: 350pt;
}

.row{
    height: 350pt;
}

.first{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 300pt;
}

.first img{
    height: 250pt;
}

.second {
    margin-left: auto;
    margin-right: auto;
    height: 300pt;
}

.second img{
    width: 80%;
    height: 250pt;
}

.ga-project p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 9pt;
}

.codecad{
    margin-left: auto;
    margin-right: auto;
    height: 300pt;
}

.codecad img{
    width: 80%;
    height: 175pt;
}
